$primary-bg: #161616;
$current-line: #262626;
$foreground: #dde1e6;
$comment: #525252;
$cyan: #3ddbd9;
$green: #42be65;
$orange: #fab387;
$pink: #ff7eb6;
$purple: #be95ff;
$red: #ee5396;
$yellow: #f9e27f;
