
* {
    all: unset;
    font-size: 1rem;
    font-family: $default_font;
    font-weight: bolder;
}

tooltip {
  background: $current-line;
  padding: $default_padding;
  border-radius: 5px;
  border-color: $primary-bg;
  border-width: 5px;
}

.varfont {
  font-family: $default_font;
}

.topbar {
    background: transparent;
}

.bar {
    background: $primary-bg;
    padding: $default_padding;
}

.bar-middle {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.bar-left {
    border-bottom-right-radius: 10px;
    padding-right: 10px;
    padding-left: 5px;
}

.bar-right {
    border-bottom-left-radius: 10px;
    padding-left: 10px;
    padding-right: 5px;
}

.framed {
    background-color: $current-line;
    padding: 0rem 0.45rem;
    margin: 0.2rem;
    border-radius: 5px;
    font-weight: bolder;
    font-size: larger;
}

.icon {
    font-family: $mono_font;
    font-weight: normal;
    font-size: 1.2rem;
}

.xl-icon {
    font-family: $mono_font;
    font-weight: normal;
    font-size: 1.2rem;
}

.workspace {
    padding: 0.5rem 0.8rem;
    font-family: $mono_font;
    //padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    //margin: 0.4rem;
}

// Sliders

scale {
    padding-left: 20px;
}

scale trough {
    background-color: $primary-bg;
    border-radius: $trough_height;
    min-height: $trough_height;
    min-width: 100px;
}

scale trough slider {
    background-color: $foreground;
    border-radius: 7px;
    min-width: $trough_height;
    min-height: $trough_height;
}

.vol-slider trough highlight {
    padding-left: $default_padding;
    background-color: $green;
    border-radius: 7px;
}

.bri-slider trough highlight {
    padding-left: $default_padding;
    background-color: $yellow;
    border-radius: 7px; 
}

