$default_padding: 2px;

$trough_height: 12px;

//$mono_font: Agave Nerd Font;
$mono_font: FantasqueSansM Nerd Font Mono;
//$default_font: Potta One;
//$default_font: Shippori Antique B1;
$default_font: FantasqueSansM Nerd Font;

//$default_font: Cherry Bomb One;

// TEXT COLORS

.text-cyan {
    color: $cyan;
}

.text-green {
    color: $green;
}

.text-orange {
    color: $orange;
}

.text-pink {
    color: $pink;
}

.text-purple {
    color: $purple;
}

.text-red {
    color: $red;
}

.text-yellow {
    color: $yellow;
}

.text-comment {
    color: $comment;
}
