@import 'colors.scss';
@import 'vars.scss';

* {
    all: unset;
    font-size: 1.03em;
    font-family: $mono_font;
}

.topbar {
    background: transparent;
    //padding-top: 5px;
}

.bar-left {
    background: $primary-bg;
    padding: $default_padding;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}

.bar-right {
    background: $primary-bg;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    padding-left: 30px;
    padding-right: 5px;
}

.famed {
    background-color: $current-line;
    padding: 0rem 0.45rem 0rem 0.45rem;
    border-radius: 5px;
    font-weight: bolder;
    font-size: larger;
}

.workspace {
    padding: 0.1rem 0.4rem 0.1rem 0.4rem;
}

scale {
    padding-left: 20px;
}

scale trough {
    background-color: $primary-bg;
    border-radius: $trough_height;
    min-height: $trough_height;
    min-width: 100px;
}

scale trough slider {
    background-color: $foreground;
    border-radius: 7px;
    min-width: $trough_height;
    min-height: $trough_height;
}

.vol-slider trough highlight {
    padding-left: $default_padding;
    background-color: $green;
    border-radius: 7px;
}

.bri-slider trough highlight {
    padding-left: $default_padding;
    background-color: $yellow;
    border-radius: 7px;
}

// TEXT COLORS

.text-cyan {
    color: $cyan;
}

.text-green {
    color: $green;
}

.text-orange {
    color: $orange;
}

.text-pink {
    color: $pink;
}

.text-purple {
    color: $purple;
}

.text-red {
    color: $red;
}

.text-yellow {
    color: $yellow;
}

.text-comment {
    color: $comment;
}