layout {
    pane split_direction="vertical" {
        pane
    }
    pane size=1 borderless=true {
        plugin location="file:/home/skadic/.config/zellij/plugins/zjstatus.wasm" {
            format_left  "#[bold,fg=fg,bg=bg] [{session}]  {mode}  {tabs}"
            format_right "#[bold,fg=red]{datetime}"
            format_space ""

            tab_normal   " #[bold,fg=yellow]{name} "
            tab_active   "#[bold,fg=black,bg=green] {name} "

            mode_normal        "#[bold]{name}"
            mode_locked        "#[bold,fg=red]{name}"
            mode_resize        "#[bold,fg=blue]{name}"
            mode_move          "#[bold,fg=blue]{name}"
            mode_pane          "#[bold,fg=blue]{name}"
            mode_scroll        "#[bold,fg=blue]{name}"
            mode_enter_search  "#[bold,fg=blue]{name}"
            mode_search        "#[bold,fg=blue]{name}"
            mode_rename_tab    "#[bold,fg=blue]{name}"
            mode_rename_pane   "#[bold,fg=blue]{name}"
            mode_session       "#[bold,fg=blue]{name}"
            mode_prompt        "#[bold,fg=blue]{name}"
            mode_tmux          "#[bold,fg=blue]{name}"

            datetime          " {format} "
            datetime_format   "%R | %d/%m/%y"
            datetime_timezone "Europe/Berlin"
        }
    }

}
